@model IEnumerable<KyivBarGuideDomain.Model.Bar>

@{
    ViewData["Title"] = "List of Bars";
    var defaultImage = "/images/default-bar.jpg"; // Default image path
}

<h1 class="mb-4">List of Bars</h1>
<p>
    <a asp-action="Create" class="btn btn-success mb-3">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card" style="
    position: relative;
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    background-image: url('/images/cards_background_2.jpg');
    background-size: cover;
    background-position: center;
    border: 2px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
            ">
                <img class="card-img-top" src="@(string.IsNullOrEmpty(item.Picture) ? defaultImage : item.Picture)" alt="@item.Name" style="height: 200px; object-fit: cover; border-bottom: 2px solid #ccc;">
                <div class="card-body" style="flex-grow: 1; display: flex; flex-direction: column; justify-content: space-between; padding: 20px;">
                    <div>
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Theme: @item.Theme</p>
                    </div>
                    <div>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>

        </div>
    }
</div>



